<div class="row">
  <div class="col-12 p-1">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Buscar Historia Clinica
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 p-1">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Correo o Numero Documento
                    </label>
                    <input name="dato"
                    [(ngModel)]="dato"
                    type="text" class="form-control"
                    placeholder="fdasg@fgadsg.sd o 32536243">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <button (click)="searchEmailCliente()"
                    type="button" class="btn btn-primary"
                    [disabled]="(dato === '')? true:false">
                    Por Correo
                  </button>
                </div>
                <div class="col-12 col-md-6">
                  <button (click)="searchDocCliente()"
                    type="button" class="btn btn-primary"
                  [disabled]="(dato === '')? true:false">
                    Por Documento
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-1">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Paciente
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 p-1">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-3 p-1">
                <img class="w-100" [src]="cliente.Photo" alt="foto paciente">
              </div>
              <div class="col-12 col-md-8 col-lg-9 p-1">
                <div class="row">
                  <div class="col-12 p-1">
                    <h4 class="text-center">
                       Nombres y Apellidos:
                       <br>
                       {{cliente.Name + ' ' + cliente.LastName}}
                    </h4>
                  </div>
                  <div class="col-12 p-1">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        Documento: {{cliente.DocumentNumber}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        Correo: {{cliente.Email}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        Celular: {{cliente.Phone}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        Genero: {{cliente.Gender}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        Estado Civil: {{cliente.CivilStatus}}
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 p-1">
                        {{cliente.Job}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-1">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 p-1">
                Fecha Nacimiento:
                <br>
                {{cliente.BirthDate}}
              </div>
              <div class="col-12 col-md-6 col-lg-8 p-1">
                Direccion:
                <br>
                {{cliente.Direction}}
              </div>
            </div>
          </div>
          <div class="col-12 p-1">
            <button (click)="viewdetails()"
              type="button" class="btn btn-primary"
              [disabled]="(cliente === 0)? true:false">
              Ver Historia Clinica
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-1">
    <div class="card p-2">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Historia
        </h4>
      </div>
      <div class="card-body">
        <form>
          <label class="bmd-label-floating ">EPISODIO ACTUAL</label>
          <div class="form-group">
            <div class="row">
              <label for="TE" class="bmd-label-floating col-md-1">TE:</label>
              <input type="text" class="form-control col-md-3" id="TE">
              <label for="EA" class="bmd-label-floating col-md-1">EA:</label>
              <input type="text" class="form-control col-md-3" id="EA">
              <label for="FI" class="bmd-label-floating col-md-1">FI:</label>
              <input type="text" class="form-control col-md-3" id="FI">
            </div>
          </div>
          <div class="form-group"> 
            <div class="row">
              <label for="SS" class="bmd-label-floating col-md-1">SS:</label>
              <textarea class="form-control col-md-11" id="SS"></textarea>
            </div>
          </div>
          <div class="form-group"> 
            <div class="row">
              <label for="DesProblema" class="bmd-label-floating col-md-4">DESCRIPCIÓN DEL PROBLEMA:</label>
              <textarea class="form-control col-md-8" id="DesProblema"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="bmd-label-floating ">ANTECEDENTES PRINCIPALES</label>
            <div class="row">
              <label for="QX" class="bmd-label-floating col-md-1">QX:</label>
              <input type="text" class="form-control col-md-3" id="QX">
              <label for="AMedicos" class="bmd-label-floating col-md-2">MEDICOS:</label>
              <input type="text" class="form-control col-md-2" id="AMedicos">
              <label for="Alergias" class="bmd-label-floating col-md-2">ALERGIAS:</label>
              <input type="text" class="form-control col-md-2" id="Alergias">
            </div>
          </div>
          <div class="form-group"> 
            <div class="row">
              <label for="ExaFisico" class="bmd-label-floating col-md-2">EXAMEN FÍSICO:</label>
              <textarea class="form-control col-md-10" id="ExaFisico" rows="6"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="bmd-label-floating ">DIAGNOSTICO</label>
            <div class="row">
              <label for="D1" class="bmd-label-floating col-md-1">1.</label>
              <textarea class="form-control col-md-5" id="D1"></textarea>
              <label for="D2" class="bmd-label-floating col-md-1">2.</label>
              <textarea class="form-control col-md-5" id="D2"></textarea>
              <label for="D3" class="bmd-label-floating col-md-1">3.</label>
              <textarea class="form-control col-md-5" id="D3"></textarea>
              <label for="D4" class="bmd-label-floating col-md-1">4.</label>
              <textarea class="form-control col-md-5" id="D4"></textarea>
            </div>
          </div>
          <div class="form-group"> 
            <div class="row">
              <label for="ExaLaboratorio" class="bmd-label-floating col-md-4">EXAMENES DE LABORATORIO:</label>
              <textarea class="form-control col-md-8" id="ExaLaboratorio" rows="3"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

