.app-dashboart{
  display: flex;
  flex-direction: column;
}

img {
  min-width: 50px;
  max-width: 200px;
  min-height: 50px;
  max-height: 200px;
  width: auto;
}

.app-body{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

