<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">
          Crear Antecedente
        </h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="c0l-12 col-md-6 p-1">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Tipo
                    </label>
                    <select (change)='onOptionsSelectedTipe($event)' id="select-type-basic" class="form-control"
                      [(ngModel)]="antecedente.TipoId" name="antecedente.TipoId" required autofocus tabindex="1">
                      <option selected>
                        Seleccione su Tipo
                      </option>
                      <option selected [value]="obj.id" *ngFor="let obj of tipos">
                      {{obj.Name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="c0l-12 col-md-6 p-1">
            <form>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">
                      Nombre Antecedente
                    </label>
                    <input name="antecedente.Name"
                      [(ngModel)]="antecedente.Name"
                      type="text" class="form-control"
                      required minlength="1"
                      tabindex="2" placeholder=".........">
                  </div>
                </div>
              </div>
              <button (click)="saveAntecendente()"
                type="submit" class="btn btn-primary pull-right">
                Crear
              </button>
            </form>
          </div>
          <div class="c0l-12 p-1">
            <button (click)="finish()" type="submit" class="btn btn-primary pull-right"
            [disabled]="(antecedente.Name === '' ||  antecedente.TipoId === 0)? true:false">
                Finalizar
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
